@import "../../constants/colors.scss";

header {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .left {
    display: flex;
    align-items: center;

    .link {
      margin-right: 40px;
      color: $deepGrey;
      text-transform: capitalize;

      &:first-of-type {
        color: $deepPurple;
        margin-left: 100px;
      }
    }

    @media (max-width: 780px) {
      .link {
        margin-right: 20px;

        &:first-of-type {
          margin-left: 40px;
        }
      }
    }

    @media (max-width: 570px) {
      .link {
        display: none;
      }
    }
  }
}
