@import "../../constants/colors.scss";

header {
  height: 130px;
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    .link {
      margin-right: 40px;
      color: $deepGrey;
      text-transform: capitalize;

      &:first-of-type {
        color: $deepPurple;
        margin-left: 100px;
      }
    }
  }
}
