@import "../../constants/colors.scss";

.features {
  margin: 50px auto;

  .title {
    margin: 50px auto;
    text-align: center;
    font-size: 36px;
    color: $deepPurple;

    @media (max-width: 640px) {
      margin: 30px auto;
    }
  }

  .subtitle {
    margin: 50px auto;
    width: 50%;
    font-size: 18px;
    color: $deepGrey;
    text-align: center;

    @media (max-width: 640px) {
      width: 90%;
      margin: 20px auto;
    }
  }

  .items {
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;

    .wrapper {
      padding: 0 60px;
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-end;

      @media (max-width: 1040px) {
        padding: 0 45px;
      }

      @media (max-width: 900px) {
        justify-content: center;
        padding: 0 35px;
      }

      @media (max-width: 610px) {
        padding: 0 55px;
        justify-content: flex-end;
      }

      @media (max-width: 430px) {
        padding: 0 0 0 45px;
      }

      .feature {
        width: 400px;
        min-height: 260px;
        border-radius: 40px;
        display: flex;
        align-items: center;

        @media (max-width: 1200px) {
          width: 330px;
        }

        @media (max-width: 1040px) {
          width: 330px;
        }

        @media (max-width: 900px) {
          width: 60%;
        }

        @media (max-width: 720px) {
          width: 75%;
        }

        @media (max-width: 620px) {
          width: 90%;
        }

        @media (max-width: 430px) {
          width: 100%;
        }

        img {
          width: 50%;
          height: auto;
          margin-left: -25%;

          @media (max-width: 430px) {
            width: 40%;
            margin-left: -15%;
          }
        }

        .content {
          display: flex;
          height: 80%;
          flex-direction: column;
          justify-content: space-between;
          padding: 0 20px;

          .label {
            font-size: 22px;
            color: $deepPurple;
            margin-bottom: 20px;
            text-transform: capitalize;
          }

          .description {
            color: $deepGrey;
            font-size: 16px;
          }

          .learn-more {
            display: flex;
            align-items: center;
            color: $deepPurple;
            width: fit-content;

            svg {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
