@import "./constants/colors.scss";

.box {
  clip-path: polygon(19% 0, 100% 0%, 100% 100%, 0% 100%);
}

html {
  background-color: #f7fbfe;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 100px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }
}

.btn-header {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(75, 93, 104, 0.1);
  text-transform: capitalize;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $deepPurple;
}

.btn-banner {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: $purple;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: white;
}
