@import "../../constants/colors.scss";

.banner {
  position: relative;

  .content {
    width: 50%;
    .title {
      font-size: 80px;
      color: $deepPurple;
      margin-top: 30px;
    }

    .subtitle {
      width: 70%;
      font-size: 18px;
      color: $deepGrey;
      margin-top: 50px;
    }

    .btn-banner {
      width: 150px;
      height: 50px;
      border-radius: 25px;
      background-color: $purple;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      color: white;
      margin-top: 50px;
    }
  }

  .image {
    position: absolute;
    right: 0;
    top: 70px;
    width: 70%;
    z-index: -1;
    // height: 300px;
    // background-color: red;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}
