@import "../../constants/colors.scss";

.banner {
  position: relative;
  margin-bottom: 100px;

  .content {
    width: 50%;
    .title {
      font-size: 80px;
      color: $deepPurple;
      margin-top: 30px;
    }

    .subtitle {
      width: 70%;
      font-size: 18px;
      color: $deepGrey;
      margin-top: 50px;
    }

    .btn-banner {
      margin-top: 50px;
    }
  }

  .image {
    position: absolute;
    right: 0;
    top: 70px;
    width: 70%;
    z-index: -1;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}
